:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --opacity-white-text: rgba(255, 255, 255, 0.3);
  --main-text: #283136;
  --dark-grey: #444444;
  --basic-red: #fb565a;
  --hover-red: #e74246;
  --active-red: #d7373b;
  --basic-green: #00ca74;
  --hover-green: #00bc6c;
  --active-green: #00aa62;
  --basic-yellow: #efc849;
  --hover-yelow: #eab534;
  --active-yelow: #e5a722;
  --basic-grey: #eeeeee;
  --hover-grey: #dfdfdf;
  --active-grey: #d5d5d5;
  --focus-grey: #dbdbdb;
  --opacity-grey-text: rgba(0, 0, 0, 0.3);
}
.page {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: var(--basic-white);
}

.page-body {
  display: grid;
  grid-template-areas:
    'main-header'
    'main-body'
    'main-footer';
  grid-template-rows: auto 1fr 225px;
  min-height: 100%;
}

.main-header {
  grid-area: main-header;
}

.main-body {
  grid-area: main-body;
}

.main-footer {
  grid-area: main-footer;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

hr {
  color: var(--basic-grey);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.center {
  width: 1160px;
  margin: 0 auto;
}

.main-navigation {
  display: grid;
  grid-template-columns: 160px 1fr auto;
  column-gap: 40px;
  justify-items: center;
  align-items: center;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
}

.main-header__logo:hover {
  opacity: 70%;
}

.main-header__logo:active {
  opacity: 30%;
}

.main-navigation__a,
.basket-link,
.catalog-list a,
.pages-list a {
  text-decoration: none;
  color: var(--basic-black);
}

.main-navigation__a:hover,
.basket-link:hover,
.catalog-list a:hover {
  color: var(--basic-red);
}

.catalog-list a:active {
  color: var(--basic-black);
  opacity: 30%;
}

.site-navigation__item:focus-within,
.basket-link:focus {
  color: var(--basic-black);
  border-bottom: 2px solid var(--basic-red);
  /* padding-bottom: 12px; */
}

.main-navigation__a:active,
.basket-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.basket-link::before {
  content: url(/img/header/cart-icon.svg);
  margin-right: 25px;
}

.sorting-button,
.arrow {
  text-decoration: none;
  color: var(--basic-black);
  opacity: 0.3;
}

.sorting-button:hover,
.arrow:hover {
  opacity: 0.6;
}

.sorting-button:focus,
.arrow:focus {
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.main-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--main-text);
}

.main-header {
  background-color: var(--basic-grey);
}

.site-navigation {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* grid-template-columns: repeat(4, 1fr); */
  column-gap: 20px;
  text-align: center;
}

.site-navigation__item_current {
  border-bottom: 2px solid var(--basic-red);
  /* padding-bottom: 12px; */
}

.banner {
  background-color: var(--basic-grey);
  margin-bottom: 80px;
}

.banner__grid {
  display: grid;
  grid-template-areas: 'banner__card banner__slider';
  grid-template-columns: 380px 760px;
  column-gap: 20px;
}

.banner__card {
  grid-area: banner__card;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner__card > * {
  margin-bottom: 25px;
}

.banner__slider {
  grid-area: banner__slider;
}

.banner span {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.button {
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-red);
  border-radius: 3px;
  border-width: 0px;
  padding: 1em 2.5em 1em 2.5em;
}

.button:hover {
  background-color: var(--hover-red);
  cursor: pointer;
}

.button:active {
  background-color: var(--active-red);
  color: var(--opacity-white-text);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services {
  border-bottom: 1px solid var(--basic-grey);
  margin-bottom: 40px;
}

.services-list {
  list-style: none;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 40px;
}

.services-item__img {
  margin-bottom: 25px;
}

.services-item__h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px;
}

.services-item__p {
  margin-bottom: 32px;
}

.about-us {
  border-bottom: 1px solid var(--basic-grey);
  display: flex;
  justify-content: space-between;
  padding-bottom: 55px;
}

.about-us__slogans {
  width: 600px;
}

.about-us__statistic {
  width: 400px;
  text-align: center;
}

.about-us__statistic img {
  margin-bottom: 37px;
}

.about-us__statistic .about-us__h3 {
  margin-bottom: 31px;
}

.about-us__bold-text {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: var(--basic-black);
  margin-bottom: 30px;
}

.about-us__h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-black);
}

.about-us__p {
  margin-bottom: 40px;
}

.works-list {
  list-style: none;
  padding: 0px;
}

.works-item {
  font-size: 16px;
  line-height: 48px;
  color: var(--main-text);
  font-weight: 400;
  display: flex;
  align-items: center;
}

.works-item__marker {
  background-color: var(--basic-red);
  height: 2px;
  width: 24px;
  margin-right: 7px;
}

.table-num {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.table-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--main-text);
}

.clients {
  border-bottom: 1px solid var(--basic-grey);
  margin-bottom: 74px;
}

.clients-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 1160px;

  list-style: none;
  padding: 45px 0px;
  margin: 0px;
}

.clients-item {
  display: flex;
  align-items: center;
  width: 290px;
  height: 180px;
  box-sizing: border-box;
}

.clients-item__img {
  margin: auto;
  opacity: 20%;
}

.clients-item__img:hover {
  opacity: 100%;
}

.clients-item__img:active {
  opacity: 10%;
}

.clients-item__separator {
  background-color: var(--basic-grey);
  width: 2px;
  height: 50px;
  margin: auto 0;
}

.clients-item:nth-child(4n) .clients-item__separator {
  background-color: var(--basic-grey);
  width: 0px;
  height: 0px;
  margin: auto 0;
}

.contacts {
  display: grid;
  grid-template-areas: 'contacts';
  width: 1440px;
  margin: 0 auto;
}

.contacts .bold-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.contacts .basic-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--dark-grey);
}

.contacts-card {
  background-color: var(--basic-white);
  width: 319px;
  height: 308px;
  box-sizing: border-box;
  grid-area: contacts;
  z-index: 1;
  align-self: center;
  margin-left: 140px;
  text-align: left;
  padding: 40px 50px;
}

.contacts-card__bold-text {
  margin-bottom: 36px;
}

.contacts-card__adress {
  margin-bottom: 18px;
  text-align: left;
}

.contacts-card__tel {
  margin-bottom: 36px;
}

.map-place {
  grid-area: contacts;
  margin: 0;
}

.social-logo-list {
  list-style: none;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.social-logo-item {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-grey);
  text-align: center;
}

.social-logo-item img {
  width: 81px;
  height: 81px;
}

.green-bg {
  background-color: var(--basic-green);
}

.green-bg:hover {
  background-color: var(--hover-green);
}

.green-bg:active {
  background-color: var(--active-green);
  color: var(--opacity-white-text);
}

.yellow-bg {
  background-color: var(--basic-yellow);
}

.yellow-bg:hover {
  background-color: var(--hover-yelow);
}

.yellow-bg:active {
  background-color: var(--active-yelow);
  color: var(--opacity-white-text);
}

.footer-head-text {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.footer-text {
  color: var(--dark-grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.footer-text-area {
  justify-self: center;
}

.social-logo-item:hover {
  background-color: var(--hover-red);
}

.social-logo-item:active {
  background-color: var(--active-red);
}

.social-logo-item:active .social-logo-item__a {
  opacity: 30%;
}

/* Дальше идет оформление catalog.html */
.catalog-header {
  text-align: center;
  background-color: var(--basic-grey);
  padding-bottom: 108px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 55px;
}

.catalog-header h1 {
  font-size: 55px;
}

.catalog-grid {
  display: grid;
  grid-template-areas:
    'filter sorter'
    'filter catalog';
  grid-template-columns: 1fr 2fr;
  margin-bottom: 60px;
}

.filter {
  grid-area: filter;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price-filter,
.layout-filter,
.features-filter {
  border: none;
  padding: 0;
  margin-bottom: 50px;
}

.price-filter__legend {
  margin-bottom: 48px;
  font-weight: bold;
  font-size: 18px;
}

.price-range-wrapper {
  width: 260px;
  height: 80px;
  background-color: var(--basic-grey);
  display: flex;
  margin-bottom: 14px;
  border-radius: 3px;
}

.price-range {
  margin: auto;
  width: 205px;
  background-color: var(--basic-grey);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.price-range::-moz-range-track {
  height: 2px;
  background-color: var(--basic-green);
}

.price-range::-moz-range-thumb {
  background: var(--basic-white);
  cursor: pointer;
}

.price-range::-webkit-slider-runnable-track {
  height: 2px;
  background-color: var(--basic-green);
}

.price-range::-webkit-slider-thumb {
  background: var(--basic-white);
  cursor: pointer;
}

.price-input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.price-input {
  width: 80px;
  height: 38px;
  border-radius: 3px;
  border: none;
  background-color: var(--basic-grey);
  text-align: center;
  margin-left: 7px;
}

.layout-list {
  list-style: none;
}

legend {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
}

.layout-item {
  margin-bottom: 15px;
}

.layout-item:last-child {
  margin-bottom: 0;
}

.features-list {
  list-style: none;
}

.features-item {
  margin-bottom: 15px;
}

.features-item:last-child {
  margin-bottom: 0;
}

.sorter {
  display: grid;
  grid-area: sorter;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 48px;
}

.sorter-header {
  font-weight: bold;
  font-size: 18px;
}

.sorting-buttons {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.catalog {
  display: grid;
  grid-area: catalog;
}

.catalog-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 45px;
  margin-bottom: 54px;
}

.catalog-list__item {
  border-radius: 5px;
  width: 360px;
  height: 618px;
  background-color: var(--basic-grey);
  display: grid;
  grid-template-areas: catalog-item;
}

.catalog-list__item:hover {
  background-color: var(--dark-grey);
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.25);
}

.catalog-list__item:hover .item-card {
  display: flex;
}

.item-img {
  grid-area: catalog-item;
  margin-top: auto;
}

.item-card {
  grid-area: catalog-item;
  width: 360px;
  height: 231px;
  margin-top: auto;
  background-color: var(--basic-grey);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  row-gap: 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0 0 3px 3px;
}

.pages-list {
  list-style: none;
  display: flex;
}

.pages-list-button,
.filter-button {
  width: 50px;
  height: 50px;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  margin-right: 11px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  padding: 15px;
  border: none;
}

.filter-button {
  width: 260px;
}

.next-page-button {
  width: 260px;
  padding: 15px;
  margin-right: 0;
}

.pages-list-button:hover,
.filter-button:hover {
  background-color: var(--hover-grey);
}

.pages-list-button:focus,
.filter-button:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 3px solid var(--focus-grey);
}
.pages-list-button:active,
.filter-button:active {
  background-color: var(--active-grey);
  color: var(--opacity-grey-text);
  box-shadow: 0 -2px var(--opacity-grey-text);
  border-top: 0 solid var(--opacity-grey-text);
  align-self: flex-end;
}
